<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments :: header"></div>
<body bgcolor="#c0c0c0" background="https://uassd.my.canva.site/images/b1b216dc0ee683b37b967ae6a4d84852.jpg"
      bgproperties="fixed">
<div th:replace="fragments :: navbar"></div>

<div align="center">
    <table>
        <thead>
        <tr>
            <th>ID:</th>
            <th>Name:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fabricator : ${fabricators}">
            <td th:text="${fabricator.id}">
                ID
            </td>
            <td th:text="${fabricator.name}">
                Name
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>