<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="fragments :: header"></div>
<body bgcolor="#c0c0c0" background="https://uassd.my.canva.site/images/b1b216dc0ee683b37b967ae6a4d84852.jpg"
      bgproperties="fixed">
<div th:replace="fragments :: navbar"></div>

<div align="center">
    <form action="/product/save" method="post">
        <label style="color:#ffffff">Product id:</label><br>
        <input type="text" name="productId"/><br/>
        <label style="color:#ffffff">Name:</label><br>
        <input type="text" name="name"/><br/>
        <label style="color:#ffffff">Price:</label><br>
        <input type="text" name="price"/><br/>
        <label style="color:#ffffff">Fabricator:</label><br/>
        <p><select name="fabricatorName">
            <option
                    th:each="fabricator : ${fabricators}"
                    th:value="${fabricator}"
                    th:text="${fabricator}"
            >List
            </option>
        </select></p><br/>
        <button type="submit">Save</button>
    </form>
    <br/>

    <table th:if="${product!=null}">
        <thead>
        <tr>
            <th>ID:</th>
            <th>Name:</th>
            <th>Price:</th>
            <th>Brand:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${product.id}">
                ID
            </td>
            <td th:text="${product.name}">
                Name
            </td>
            <td th:text="${product.price}">
                Price
            </td>
            <td th:text="${product.fabricatorDto.getName}">
                Brand
            </td>
        </tr>
        </tbody>
        <a style="color:#ffffff" th:text="${message}">message</a>
    </table>
    <div th:if="${product==null}">
        <a style="color:#ffffff" th:text="${message}">message</a>
    </div>
</div>
</body>
</html>