<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments :: header"></div>
<body bgcolor="#c0c0c0" background="https://uassd.my.canva.site/images/b1b216dc0ee683b37b967ae6a4d84852.jpg"
      bgproperties="fixed">
<div th:replace="fragments :: navbar"></div>

<div align="center">
    <form action="/user/search" method="post">
        <label style="color:#ffffff">User id:</label><br>
        <input type="text" name="userId"/><br/>
        <button type="submit">Find</button>
    </form>
    <br>

    <table th:if="${user!=null}">
        <thead>
        <tr>
            <th>ID:</th>
            <th sec:authorize="hasRole('ADMIN')">Login:</th>
            <th sec:authorize="hasRole('ADMIN')">Password:</th>
            <th>First name:</th>
            <th>Last name:</th>
            <th sec:authorize="hasRole('ADMIN')">Role:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}">
                ID
            </td>
            <td th:text="${user.login}" sec:authorize="hasRole('ADMIN')">
                Login
            </td>
            <td th:password="${user.password}" sec:authorize="hasRole('ADMIN')">
                Password
            </td>
            <td th:text="${user.firstName}">
                First name
            </td>
            <td th:text="${user.lastName}">
                Last name
            </td>
            <td th:each="userRole : ${user.roles}" th:text="${userRole.getName}" sec:authorize="hasRole('ADMIN')">
                Role
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${user==null}">
        <a style="color:#ffffff" th:text="${message}">message</a>
    </div>
</div>
</body>
</html>