<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments :: header"></div>
<body bgcolor="#c0c0c0" background="https://uassd.my.canva.site/images/b1b216dc0ee683b37b967ae6a4d84852.jpg"
      bgproperties="fixed">
<div th:replace="fragments :: navbar"></div>

<div align="center">
    <form action="/user/delete" method="post">
        <label style="color:#ffffff">User id:</label><br>
        <input type="text" name="userId"/><br/>
        <button type="submit">Delete</button>
    </form>
    <br>

    <div>
        <a style="color:#ffffff" th:text="${message}">message</a>
    </div>
</div>
</body>
</html>